<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading">History...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/SKKN_LOGO-clear.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Since 1956</h4>
                                    <h4 class="subheading">Our Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Singapore Kairalee Kala Nilayam (SKKN) ), is one of the oldest non-profit Indian organizations which was formed in 1956 primarily to promote Indian Culture, Fine Arts and sports  among Indian residents in the Republic of Singapore. The secondary objective was to assist other welfare societies or social organisations whose objectives are the promotion of  social welfare or Indian Culture and Fine Arts.
                                    </p>
                                    <p class="text-muted">SKKN was very active in the 1950s through 1980s. With the unconditional support and restless efforts of the local talents, SKKN was able to stage about 250 Dramas in Singapore and Malaysia. In addition, prominent drama troupes from Kerala were invited by SKKN to stage their masterpiece dramas in Singapore. SKKN was privileged to be a part of the first ever National Day parade of independent Singapore.
                                    </p>
                                    <p>
                                            <strong><a href="{{site.url}}/about">Read More...</a></strong>
                                        </p>

                                </div>
                            </div>
                        </li>
                       
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br><a href="{{site.url}}/about" style="color: #000">Read More</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
