<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading">History...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/SKKN_LOGO-clear.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Since 1956</h4>
                                    <h4 class="subheading">Our Beginnings</h4>
                                </div>
                                 <div class="timeline-body">
                                <p class="text-muted">Singapore Kairalee Kala Nilayam (SKKN) ), is one of the oldest non-profit Indian organizations which was formed in 1956 primarily to promote Indian Culture, Fine Arts and sports  among Indian residents in the Republic of Singapore. The secondary objective was to assist other welfare societies or social organisations whose objectives are the promotion of  social welfare or Indian Culture and Fine Arts.
                                    </p>
                                    <p class="text-muted">SKKN was very active in the 1950s through 1980s. With the unconditional support and restless efforts of the local talents, SKKN was able to stage about 250 Dramas in Singapore and Malaysia. In addition, prominent drama troupes from Kerala were invited by SKKN to stage their masterpiece dramas in Singapore. SKKN was privileged to be a part of the first ever National Day parade of independent Singapore.
                                    </p>
                                    
                                </div>
                            </div>
                        </li>
                      
        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Relaunched SKKN</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Till the late 90s SKKN was active in the socio-cultural map of Singapore. After that due to various reasons it went to a sort of “hibernation” for a decade. Fortunately, with the encouraging efforts by a bunch of art lovers, SKKN was revived in 2016 and since then it is very active with quality productions. 
                                    </p>
                                    <p class="text-muted">Relaunched Singapore Kairalee Kala Nilayam in 2016 with new members during <b><a href="https://en.wikipedia.org/wiki/Pravasi_Express_Awards" target="_new">Pravasi Express Nite</a></b>. The function was followed by musical treat led by <b><a href="https://en.wikipedia.org/wiki/G._Venugopal" target="_new">G Venugopal</a></b> and drama - <b><a href="https://www.pravasiexpress.com/kannadi-a-reflection/" target="_new">Kannadi</a></b> by Singapore Kiralee Kala Nilayam Team.
                                    </p>
                                </div>
                            </div>
                        </li>
                
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of SKKN
                                    <br>Contact Us</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
