<!-- initiatives Section -->
    <section id="initiatives">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Initiatives</h2>
                    <!--- <h3 class="section-subheading text-muted">We have few initiatives...</h3> --->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-movie-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SKKF</h4>
                    <p class="text-muted"><b>Singapore Kairalee Film Forum</b> is an initiative to promote talents in filma making.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Heritage Project</h4>
                    <p class="text-muted">This initiate is for to document and feature the rich Indian art and cultture of Singapore. More details to come, stay tuned.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Engagement</h4>
                    <p class="text-muted">We have a series of community engagement programs in pipeline.</p>
                </div>
            </div>
        </div>
    </section>
