
<!-- services Section -->
<section id="services">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What can we do for you</h2>
                    <!-- <h3 class="section-subheading text-muted">We have few initiatives...</h3> -->
                    <p class="text-unmuted">
                            At colorvibes, we are focused on end-user comfort and satisfaction not only in our service but also in the results. We offer cost effective design solutions by our design group. We do Webdesign and Re-Design, Managed websites, CMS sites, Web Applications, Dynamic Online Magazines, Social Media & Email Marketing etc.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chrome fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Web Services</h3>
                    <p class="text-unmuted" >
                        
                         Design and re-design of websites
                        | Managed websites
                        | CMS sites - Content Management sites with latest technologies in the web, like Joomla, drupal, mambotc.
                        | Web applications - Web-based remote and online applications for make it eazy to administor and manage, using php and mysql.
                        | Dynamic Online Magazines - It enable you to manage and run your own online magazine without any efforts in content management. You don't even need to know about the web basics.
                        | Blog Designs - Implement and maintain your blog sites, choose your own templates and styles and make it live always.
                        | Newsletters & Email Marketing
                        
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Design</h3>
                    <p class="text-unmuted">
                           logo design
                           | branding - Branding services include, logo designing, captions and media packages.
                           | illustrations - Making Corporate, Vector, Informative Illustrations.
                           | publishing support - Design, PageLayout and Publishing of Books, Magazines, Brochures.
                           | Presentations - Corporate and Informative Presentations.
                           | Cover Design - Books, Magazines etc.
                           | Product Design - Product Package Design, Packets, Covers.
                           | Posters & Show Cards.
                           | Business Cards
                           | Newsletter Layouts
                           | Catalogues
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tv fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Media</h3>
                    <p class="text-unmuted">
                            corporate presentations - Using flash, presentation softwares.
                            | e-publications - e-magazines, e-books, e-catelogues.
                            | PDF handling - HighQuality PDF Creation.
                            | Interactive softwares
                            | Flash Animation
                    </p>
                </div>
            </div>
        </div>
    </section>
