    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/img/auditorium.jpg');">
        <div class="container">
            <div class="intro-text" style="padding-top: 200px;"><img src="assets/images/on-hold.png" width="200"><br>
                <div class="intro-lead-in" style="background-color:yellow; padding: 10px; font-size: 20px; color: black; border-radius: 5px;">
                        
                    In light of the current nCoV situation, and the directives from the government on the conduct of public events, the organising committee has decided to keep the event on hold.</div>
                <div class="intro-lead-in">SKKN Presents, </div>               
                <div class="intro-heading" style="margin-bottom: 10px;">Women of Tomorrow</div>
                <div class="intro-lead-in" style="font-size: 25px;">"where dreams take wings"</div>
                
                <div class="intro-lead-in">Stay Tuned...</div>
                <a href="mailto:womenswing@kairaleekalanilayam.com" class="page-scroll btn btn-xl">Contact</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}

        <div class="intro-lead-in">09.30 AM, 8th March 2020</div>
                <div class="intro-lead-in" style="font-size: 25px;">UWCSEA East Campus</div>
 -->

